* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
}

#formwindow {
    padding: 10px;
    width: 600px;
    height: 500px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: rgb(103, 177, 238);
    margin: 20px auto;
}
label {
    font-size: 21px;
    color: white;
}
input {
    font-size: 20px;
    color: rgb(8, 49, 83);

}
textarea {
    color: rgb(8, 49, 83);
}

#button {
    background-color: rgb(8, 49, 83);
    color: rgb(103, 177, 238);
    border-radius: 10px;
    width: 100px;
    height: 50px;
}
p {
    color: white;
    font-size: 16px;
}
#email1-error, #email2-error, #comment-error {
    color: red;
    font-size: 18px;
}